# 포스트 코로나 데이터 시각화 경진대회

In [1]:
import pandas as pd

## 데이터 파악

## adstrd_master : 행정동코드, 지역명 데이터

In [9]:
adstrd_master = pd.read_csv("adstrd_master.csv")
adstrd_master

      adstrd_code adstrd_nm  brtc_nm signgu_nm
0      11110515.0     청운효자동    서울특별시       종로구
1      11110530.0       사직동    서울특별시       종로구
2      11110540.0       삼청동    서울특별시       종로구
3      11110550.0       부암동    서울특별시       종로구
4      11110560.0       평창동    서울특별시       종로구
...           ...       ...      ...       ...
3488   50130580.0       서홍동  제주특별자치도      서귀포시
3489   50130590.0       대륜동  제주특별자치도      서귀포시
3490   50130600.0       대천동  제주특별자치도      서귀포시
3491   50130610.0       중문동  제주특별자치도      서귀포시
3492   50130620.0       예래동  제주특별자치도      서귀포시

[3493 rows x 4 columns]

In [17]:
adstrd_master = adstrd_master.dropna()

In [18]:
adstrd_master

      adstrd_code adstrd_nm  brtc_nm signgu_nm
0      11110515.0     청운효자동    서울특별시       종로구
1      11110530.0       사직동    서울특별시       종로구
2      11110540.0       삼청동    서울특별시       종로구
3      11110550.0       부암동    서울특별시       종로구
4      11110560.0       평창동    서울특별시       종로구
...           ...       ...      ...       ...
3488   50130580.0       서홍동  제주특별자치도      서귀포시
3489   50130590.0       대륜동  제주특별자치도      서귀포시
3490   50130600.0       대천동  제주특별자치도      서귀포시
3491   50130610.0       중문동  제주특별자치도      서귀포시
3492   50130620.0       예래동  제주특별자치도      서귀포시

[3474 rows x 4 columns]

In [19]:
adstrd_master.signgu_nm.unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '서구', '동구',
       '영도구', '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구',
       '수영구', '사상구', '기장군', '수성구', '달서구', '달성군', '미추홀구', '연수구', '남동구',
       '부평구', '계양구', '강화군', '옹진군', '광산구', '유성구', '대덕구', '울주군', '수원시 장안구',
       '수원시 권선구', '수원시 팔달구', '수원시 영통구', '성남시 수정구', '성남시 중원구', '성남시 분당구',
       '의정부시', '안양시 만안구', '안양시 동안구', '부천시', '광명시', '평택시', '동두천시',
       '안산시 상록구', '안산시 단원구', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시',
       '구리시', '남양주시', '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시 처인구',
       '용인시 기흥구', '용인시 수지구', '파주시', '이천시', '안성시', '김포시', '화성시', '광주시',
       '양주시', '포천시', '여주시', '연천군', '가평군', '양평군', '춘천시', '원주시', '강릉시',
       '동해시', '태백시', '속초시', '삼척시', '홍천군', '횡성군', '영월군', '평창군', '정선군',
       '철원군', '화천군', '양구군', '인제군', '고성군', '양양군', '청주시 상당구', '청주시 서원구',
       '청주시 흥덕구', '청주시 청원구', '충주시', '제천시', '보은군', '옥천군', '영동군', '증평군',
       '진천군', '괴산군', '음성군', '단양군', '천안시 동남구', '천안시 서북구', '공주시', '보령시',
       '아산시', '서산시', '논산시', '계룡시', '당진시', '금산군', '부여군', '서천군', '청양군',
       '홍성군', '예산군', '태안군', '전주시 완산구', '전주시 덕진구', '군산시', '익산시', '정읍시',
       '남원시', '김제시', '완주군', '진안군', '무주군', '장수군', '임실군', '순창군', '고창군',
       '부안군', '목포시', '여수시', '순천시', '나주시', '광양시', '담양군', '곡성군', '구례군',
       '고흥군', '보성군', '화순군', '장흥군', '강진군', '해남군', '영암군', '무안군', '함평군',
       '영광군', '장성군', '완도군', '진도군', '신안군', '포항시 남구', '포항시 북구', '경주시',
       '김천시', '안동시', '구미시', '영주시', '영천시', '상주시', '문경시', '경산시', '군위군',
       '의성군', '청송군', '영양군', '영덕군', '청도군', '고령군', '성주군', '칠곡군', '예천군',
       '봉화군', '울진군', '울릉군', '창원시 의창구', '창원시 성산구', '창원시 마산합포구',
       '창원시 마산회원구', '창원시 진해구', '진주시', '통영시', '사천시', '김해시', '밀양시', '거제시',
       '양산시', '의령군', '함안군', '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군',
       '합천군', '제주시', '서귀포시'], dtype=object)

In [20]:
sehwa_master = adstrd_master.loc[adstrd_master["signgu_nm"].str.contains("은평구|서대문구|마포구|종로구|용산구")].copy()
sehwa_master

     adstrd_code adstrd_nm brtc_nm signgu_nm
0     11110515.0     청운효자동   서울특별시       종로구
1     11110530.0       사직동   서울특별시       종로구
2     11110540.0       삼청동   서울특별시       종로구
3     11110550.0       부암동   서울특별시       종로구
4     11110560.0       평창동   서울특별시       종로구
..           ...       ...     ...       ...
217   11440700.0      망원2동   서울특별시       마포구
218   11440710.0       연남동   서울특별시       마포구
219   11440720.0      성산1동   서울특별시       마포구
220   11440730.0      성산2동   서울특별시       마포구
221   11440740.0       상암동   서울특별시       마포구

[79 rows x 4 columns]

In [23]:
sehwa_master.to_csv("sehwa_master.csv", mode = 'w')

## fpopl : 행정동별 유동인구 데이터
- base_ymd: 기준년월일
- tmzon_se_code: 24시간대 구분코드
- sexdstn_se_code: 성별 구분코드 (M: 남성, F: 여성)
- agrde_se_code: 5세단위 연령대구분코드 (단, age_00: 0세 ~ 9세, age_70: 70세 이상)
- adstrd_code: 행정동코드
- popltn_cascnt: 인구수

In [3]:
fpopl = pd.read_csv("fpopl.csv")

In [4]:
fpopl

,base_ymd,tmzon_se_code,sexdstn_se_code,agrde_se_code,adstrd_code,popltn_cascnt
0,20200101,0,M,age_00,11650560,15
1,20200101,0,M,age_00,11590620,6
2,20200101,0,M,age_00,11560710,4
3,20200101,0,M,age_00,11470680,12
4,20200101,0,M,age_00,11350665,6
...,...,...,...,...,...,...
47546438,20200616,23,F,age_70,11500593,38
47546439,20200616,23,M,age_70,11350624,28
47546440,20200616,23,M,age_70,11305534,47
47546441,20200616,23,F,age_70,11500604,50
47546442,20200616,23,F,age_70,11320514,63

## delivery: 배달 호출 정보 데이터

In [24]:
delivery = pd.read_csv("delivery.csv")

In [25]:
delivery

,SERIAL_NUMBER,PROCESS_DT,DLVR_RQESTER_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_CMPNY_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_SIDO,DLVR_STORE_SIGUNGU,...,DLVR_MAN_ID,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_CN,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
0,4577985,2020-01-01,C000035,1,C000035,S0032342,치킨,4812710600,경상남도,창원시 마산회원구,...,D0005271,4290,300,25000,1,승인:비씨카드사,2020-01-01 00:15:49,2020-01-01 00:21:38,2020-01-01 00:41:37,NaN
1,4577986,2020-01-01,C000237,1,C000237,S0021847,찜탕,4121010200,경기도,광명시,...,D0003269,4800,200,49000,2,NaN,2020-01-01 01:12:14,2020-01-01 01:21:41,2020-01-01 01:31:44,NaN
2,4577988,2020-01-01,C000129,1,C000129,S0025740,치킨,1138010400,서울특별시,은평구,...,D0001536,3300,300,23000,3,승인:,2020-01-01 00:01:14,2020-01-01 00:01:47,2020-01-01 00:18:47,NaN
3,4577989,2020-01-01,C000029,1,C000043,S0039634,한식,4115010100,경기도,의정부시,...,D0005061,4500,300,20000,2,NaN,2020-01-01 01:01:34,2020-01-01 01:28:06,2020-01-01 01:36:48,NaN
4,4577991,2020-01-01,C000130,1,C000130,S0002237,한식,4128112800,경기도,고양시 덕양구,...,D0005215,6500,300,32000,2,NaN,2020-01-01 01:05:06,2020-01-01 01:08:01,2020-01-01 01:29:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5158319,10672688,2020-06-21,C000312,1,C000312,S0029529,야식,4125010200,경기도,동두천시,...,D0013004,3000,500,26000,1,승인:하나카드,2020-06-21 22:48:22,2020-06-21 22:48:37,2020-06-21 23:07:47,NaN
5158320,10672689,2020-06-21,C000026,1,C000026,S0026242,야식,1132010800,서울특별시,도봉구,...,D0006251,3600,55,22000,2,NaN,2020-06-21 22:57:15,2020-06-21 22:58:00,2020-06-21 23:18:20,NaN
5158321,10672690,2020-06-21,C000130,1,C000130,S0042234,야식,4128112300,경기도,고양시 덕양구,...,D0012754,3000,300,17000,2,NaN,2020-06-21 22:55:08,2020-06-21 22:55:22,2020-06-21 23:14:45,NaN
5158322,10672691,2020-06-21,C000237,1,C000237,S0021766,족발/보쌈,4121010200,경기도,광명시,...,D0004485,3630,200,53700,1,승인:비씨카드사,2020-06-21 23:10:38,2020-06-21 23:11:03,2020-06-21 23:25:10,NaN
5158323,10672692,2020-06-21,C000209,1,C000209,S0022227,야식,1154510300,서울특별시,금천구,...,D0006541,4730,300,46000,2,NaN,2020-06-21 23:04:50,2020-06-21 23:14:35,2020-06-21 23:28:22,NaN

In [50]:
delivery.DLVR_STORE_SIGUNGU.unique()

array(['창원시 마산회원구', '광명시', '은평구', '의정부시', '고양시 덕양구', '부천시', '구로구', '영등포구',
       '광양시', '수성구', '고양시 일산동구', '서산시', '서귀포시', '군산시', '금천구', '포천시',
       '동두천시', '진주시', '화성시', '안산시 상록구', '영천시', '노원구', '안양시 동안구', '평택시',
       '부평구', '도봉구', '순천시', '양천구', '동작구', '서구', '시흥시', '창원시 마산합포구', '경산시',
       '동구', '고양시 일산서구', '강서구', '달서구', '제천시', '북구', '보령시', '관악구', '원주시',
       '안동시', '남양주시', '수원시 권선구', '파주시', '김포시', '나주시', '서대문구', '달성군',
       '여수시', '용인시 처인구', '광주시', '양주시', '칠곡군', '연천군', '청주시 청원구', '해운대구',
       '영주시', '경주시', '수원시 팔달구', '음성군', '성남시 수정구', '김천시', '문경시', '서초구',
       '성남시 중원구', '아산시', '논산시'], dtype=object)

In [26]:
sehwa_delivery = delivery.loc[delivery["DLVR_STORE_SIGUNGU"].str.contains("은평구|서대문구|마포구|종로구|용산구")].copy()
sehwa_delivery

,SERIAL_NUMBER,PROCESS_DT,DLVR_RQESTER_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_CMPNY_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_SIDO,DLVR_STORE_SIGUNGU,...,DLVR_MAN_ID,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_CN,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
2,4577988,2020-01-01,C000129,1,C000129,S0025740,치킨,1138010400,서울특별시,은평구,...,D0001536,3300,300,23000,3,승인:,2020-01-01 00:01:14,2020-01-01 00:01:47,2020-01-01 00:18:47,NaN
133,4578143,2020-01-01,C000129,1,C000129,S0003051,치킨,1138010400,서울특별시,은평구,...,D0001536,3200,200,22000,1,승인:신한카드,2020-01-01 00:41:54,2020-01-01 00:42:46,2020-01-01 01:00:26,NaN
169,4578187,2020-01-01,C000129,1,C000129,S0033402,회,1138010400,서울특별시,은평구,...,D0001791,3300,300,40000,1,승인:KB국민카드,2020-01-01 00:38:41,2020-01-01 00:39:08,2020-01-01 00:55:52,NaN
177,4578195,2020-01-01,C000129,1,C000129,S0035128,회,1138010400,서울특별시,은평구,...,D0005383,3300,300,26000,1,승인:비씨카드사,2020-01-01 00:31:52,2020-01-01 00:33:59,2020-01-01 00:48:42,NaN
183,4578201,2020-01-01,C000129,1,C000129,S0033402,회,1138010400,서울특별시,은평구,...,D0002571,3300,300,25000,1,승인:신한카드,2020-01-01 00:59:32,2020-01-01 00:59:49,2020-01-01 01:08:05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5157761,10672047,2020-06-21,C000129,1,C000129,S0026228,족발/보쌈,1138010500,서울특별시,은평구,...,D0005383,3850,400,31000,1,승인:신한카드,2020-06-21 23:18:57,2020-06-21 23:19:07,2020-06-21 23:29:11,NaN
5157825,10672121,2020-06-21,C000129,1,C000129,S0041529,돈까스/일식,1138010400,서울특별시,은평구,...,D0009759,3500,400,27000,1,승인:비씨카드사,2020-06-21 23:50:00,2020-06-21 23:50:09,2020-06-22 00:09:01,NaN
5157891,10672197,2020-06-21,C000129,1,C000129,S0033402,회,1138010400,서울특별시,은평구,...,D0005383,3700,400,25000,2,NaN,2020-06-21 23:54:30,2020-06-21 23:54:40,2020-06-22 00:05:33,NaN
5158233,10672586,2020-06-21,C000129,1,C000129,S0033402,회,1138010400,서울특별시,은평구,...,D0005383,3800,400,36000,2,NaN,2020-06-21 23:05:19,2020-06-21 23:05:26,2020-06-21 23:26:05,NaN
5158277,10672639,2020-06-21,C000129,1,C000129,S0035127,회,1138010400,서울특별시,은평구,...,D0008283,3500,400,28000,2,NaN,2020-06-21 23:37:12,2020-06-21 23:37:22,2020-06-21 23:46:17,NaN

In [27]:
sehwa_delivery.to_csv("sehwa_delivery.csv", mode = 'w')

In [16]:
delivery.columns

Index(['SERIAL_NUMBER', 'PROCESS_DT', 'DLVR_RQESTER_ID',
       'DLVR_REQUST_STTUS_VALUE', 'DLVR_RCEPT_CMPNY_ID', 'DLVR_STORE_ID',
       'DLVR_STORE_INDUTY_NM', 'DLVR_STORE_LEGALDONG_CODE', 'DLVR_STORE_SIDO',
       'DLVR_STORE_SIGUNGU', 'DLVR_STORE_DONG', 'DLVR_STORE_RI',
       'DLVR_STORE_ADSTRD_CODE', 'DLVR_STORE_RDNMADR_CODE',
       'DLVR_DSTN_LEGALDONG_CODE', 'DLVR_DSTN_SIDO', 'DLVR_DSTN_SIGUNGU',
       'DLVR_DSTN_DONG', 'DLVR_DSTN_RI', 'DLVR_DSTN_ADSTRD_CODE',
       'DLVR_DSTN_RDNMADR_CODE', 'DLVR_MAN_ID', 'DLVR_AMOUNT',
       'CALL_RLAY_FEE_AMOUNT', 'GOODS_AMOUNT', 'SETLE_KND_VALUE',
       'SETLE_CARD_CN', 'DLVR_RCEPT_TIME', 'DLVR_CARALC_TIME',
       'DLVR_COMPT_TIME', 'DLVR_CANCL_TIME'],
      dtype='object')

## card: 업종 별 결제금액 데이터

In [33]:
card = pd.read_csv("card_20200717.csv")
card

,receipt_dttm,adstrd_code,adstrd_nm,mrhst_induty_cl_code,mrhst_induty_cl_nm,selng_cascnt,salamt
0,20200104,1174066000,성내3동,7041,약국,463,5843230
1,20200104,1174066000,성내3동,7022,치과의원,33,7835550
2,20200104,1174066000,성내3동,7021,한의원,53,4589800
3,20200104,1174066000,성내3동,7020,의원,339,9267240
4,20200104,1174066000,성내3동,6110,자동차정비,19,4441000
...,...,...,...,...,...,...,...
3713947,20200614,1121586000,구의2동,4004,대형할인점,136,1195640
3713948,20200614,1121584700,자양4동,9010,인테 리어,2,13100
3713949,20200614,1162052500,보라매동,6140,주 차 장,2,14500
3713950,20200614,1135056000,월계1동,9998,기타전문점,1,38000
3713951,20200614,1159060500,흑석동,9204,사무통신기기수리,1,20000

In [34]:
card_seoul = pd.read_csv("card_seoul_health.csv")

In [38]:
card_seoul_food = card_seoul.drop(["Unnamed: 0"], axis=1)

In [32]:
card.adstrd_nm.unique()

array(['성내3동', '성내2동', '성내1동', '천호3동', '천호2동', '천호1동', '암사3동', '암사2동',
       '암사1동', '고덕2동', '고덕1동', '명일2동', '명일1동', '상일동', '강일동', '잠실7동',
       '잠실6동', '잠실4동', '잠실3동', '잠실2동', '잠실본동', '위례동', '장지동', '문정2동',
       '문정1동', '가락2동', '가락1동', '가락본동', '삼전동', '석촌동', '송파2동', '송파1동',
       '오금동', '오륜동', '방이2동', '방이1동', '마천2동', '마천1동', '거여2동', '거여1동',
       '풍납2동', '풍납1동', '수서동', '일원2동', '일원1동', '일원본동', '세곡동', '개포4동',
       '개포2동', '도곡2동', '도곡1동', '역삼2동', '역삼1동', '대치4동', '대치2동', '대치1동',
       '삼성2동', '삼성1동', '청담동', '압구정동', '논현2동', '논현1동', '신사동', '내곡동',
       '양재2동', '양재1동', '방배4동', '방배3동', '방배2동', '방배1동', '방배본동', '반포4동',
       '반포3동', '반포2동', '반포1동', '반포본동', '잠원동', '서초4동', '서초3동', '서초2동',
       '서초1동', '난곡동', '미성동', '삼성동', '대학동', '조원동', '난향동', '신림동', '서림동',
       '신원동', '서원동', '남현동', '인헌동', '중앙동', '은천동', '청룡동', '낙성대동', '행운동',
       '성현동', '청림동', '보라매동', '신대방2동', '신대방1동', '대방동', '사당5동', '사당4동',
       '사당3동', '사당2동', '사당1동', '흑석동', '상도4동', '상도3동', '상도2동', '상도1동',
       '노량진2동', '노량진1동', '대림3동', '대림2동', '대림1동', '신길7동', '신길6동', '신길5동',
       '신길4동', '신길3동', '신길1동', '양평2동', '양평1동', '문래동', '도림동', '당산2동',
       '당산1동', '여의동', '영등포동', '영등포본동', '시흥5동', '시흥4동', '시흥3동', '시흥2동',
       '시흥1동', '독산4동', '독산3동', '독산2동', '독산1동', '가산동', '수궁동', '오류2동',
       '오류1동', '개봉3동', '개봉2동', '개봉1동', '고척2동', '고척1동', '가리봉동', '구로5동',
       '구로4동', '구로3동', '구로2동', '구로1동', '신도림동', '방화3동', '방화2동', '방화1동',
       '공항동', '우장산동', '발산1동', '가양3동', '가양2동', '가양1동', '화곡8동', '화곡6동',
       '화곡본동', '화곡4동', '화곡3동', '화곡2동', '화곡1동', '등촌3동', '등촌2동', '등촌1동',
       '염창동', '신정7동', '신정6동', '신정4동', '신정3동', '신정2동', '신정1동', '신월7동',
       '신월6동', '신월5동', '신월4동', '신월3동', '신월2동', '신월1동', '목5동', '목4동',
       '목3동', '목2동', '목1동', '상암동', '성산2동', '성산1동', '연남동', '망원2동', '망원1동',
       '합정동', '서교동', '서강동', '신수동', '염리동', '대흥동', '용강동', '도화동', '공덕동',
       '아현동', '북가좌2동', '북가좌1동', '남가좌2동', '남가좌1동', '홍은2동', '홍은1동', '홍제2동',
       '홍제3동', '홍제1동', '연희동', '신촌동', '충현동', '북아현동', '천연동', '진관동', '수색동',
       '증산동', '신사2동', '신사1동', '역촌동', '응암3동', '응암2동', '응암1동', '대조동', '구산동',
       '갈현2동', '갈현1동', '불광2동', '불광1동', '녹번동', '상계10동', '상계9동', '상계8동',
       '상계6.7동', '상계5동', '상계3.4동', '상계2동', '상계1동', '중계2.3동', '중계4동',
       '중계1동', '중계본동', '하계2동', '하계1동', '공릉2동', '공릉1동', '월계3동', '월계2동',
       '월계1동', '방학3동', '방학2동', '방학1동', '쌍문4동', '쌍문3동', '쌍문2동', '쌍문1동',
       '도봉2동', '도봉1동', '창5동', '창4동', '창3동', '창2동', '창1동', '인수동', '우이동',
       '수유3동', '수유2동', '수유1동', '번3동', '번1동', '삼각산동', '송천동', '송중동', '미아동',
       '삼양동', '석관동', '장위3동', '장위2동', '장위1동', '월곡2동', '월곡1동', '종암동',
       '길음2동', '길음1동', '정릉4동', '정릉3동', '정릉2동', '정릉1동', '보문동', '안암동',
       '돈암2동', '돈암1동', '동선동', '삼선동', '성북동', '신내2동', '신내1동', '망우3동',
       '망우본동', '묵2동', '묵1동', '중화2동', '중화1동', '상봉2동', '상봉1동', '면목3.8동',
       '면목7동', '면목본동', '면목5동', '면목4동', '면목2동', '이문2동', '이문1동', '휘경2동',
       '휘경1동', '회기동', '청량리동', '장안2동', '장안1동', '답십리2동', '답십리1동', '전농2동',
       '전농1동', '제기동', '용신동', '구의3동', '구의2동', '구의1동', '자양4동', '자양3동',
       '자양2동', '자양1동', '광장동', '능동', '중곡4동', '중곡3동', '중곡2동', '중곡1동', '군자동',
       '화양동', '용답동', '송정동', '성수2가3동', '성수2가1동', '성수1가2동', '성수1가1동', '옥수동',
       '금호4가동', '금호2.3가동', '금호1가동', '응봉동', '행당2동', '행당1동', '사근동', '마장동',
       '왕십리도선동', '왕십리2동', '보광동', '서빙고동', '한남동', '이태원2동', '이태원1동', '이촌2동',
       '이촌1동', '한강로동', '용문동', '효창동', '원효로2동', '원효로1동', '청파동', '남영동',
       '용산2가동', '후암동', '중림동', '황학동', '동화동', '신당5동', '청구동', '약수동', '다산동',
       '신당동', '을지로동', '광희동', '장충동', '필동', '명동', '회현동', '소공동', '숭인2동',
       '숭인1동', '창신3동', '창신2동', '창신1동', '혜화동', '이화동', '종로5.6가동',
       '종로1.2.3.4가동', '가회동', '교남동', '무악동', '평창동', '부암동', '삼청동', '사직동',
       '청운효자동', '둔촌2동', '길동', '개포1동', '둔촌1동', '번2동', '항동'], dtype=object)

In [ ]:
sehwa_card = card.loc[card["sigungu"].str.contains("은평구|서대문구|마포구|종로구|용산구")].copy()
sehwa_card

## Index: 품목 별 소비지수 데이터

In [14]:
index = pd.read_csv("/Volumes/Passport/Data/Post_Corona/KT_data_20200703/index.csv")
index

        period     catl    catm  age gender sido sigungu         cgi
0       201901  건강/의료용품  건강관리용품   20      F   서울     관악구  115.374642
1       201901  건강/의료용품  건강관리용품   20      F   서울     광진구  119.596454
2       201901  건강/의료용품  건강관리용품   20      F   서울     도봉구  156.992847
3       201901  건강/의료용품  건강관리용품   20      F   서울     동작구   58.342726
4       201901  건강/의료용품  건강관리용품   20      F   서울     마포구  145.147595
...        ...      ...     ...  ...    ...  ...     ...         ...
127520  202005      화장품     화장품  all    all   서울     강서구   51.365660
127521  202005      화장품     화장품  all    all   서울     관악구   61.997865
127522  202005      화장품     화장품  all    all   서울     금천구   82.198402
127523  202005      화장품     화장품  all    all   서울     도봉구   35.875600
127524  202005      화장품     화장품  all    all   서울     용산구   45.569377

[127525 rows x 8 columns]

In [19]:
index.catl.unique()

array(['건강/의료용품', '식품', '일용품', '화장품'], dtype=object)

In [29]:
index.sigungu.unique()

array(['관악구', '광진구', '도봉구', '동작구', '마포구', '성북구', '용산구', 'all', '강동구',
       '강서구', '금천구', '동대문구', '서대문구', '송파구', '종로구', '양천구', '영등포구', '은평구',
       '강북구', '구로구', '강남구', '노원구', '서초구', '중랑구', '중구', '성동구'],
      dtype=object)

## 서북권 + 도심권 : 은평,서대문,마포,종로,중,용산

In [42]:
eunpyung = index[index["sigungu"] == "은평구"]
seodaemun = index[index["sigungu"] == "서대문구"]
mapo = index[index["sigungu"] == "마포구"]
jongro = index[index["sigungu"] == "종로구"]
yongsan = index[index["sigungu"] == "용산구"]

seobuk = [eunpyung, seodaemun, mapo, jongro, yongsan]

def count_each(lst):
    for i in (lst):
        print(i.count())
       
count_each(seobuk)

def sum_everything(lst):
    count = 0
    for i in (lst):

period     4896
catl       4896
catm       4896
age        4896
gender     4896
sido       4896
sigungu    4896
cgi        4896
dtype: int64
period     4893
catl       4893
catm       4893
age        4893
gender     4893
sido       4893
sigungu    4893
cgi        4893
dtype: int64
period     4893
catl       4893
catm       4893
age        4893
gender     4893
sido       4893
sigungu    4893
cgi        4893
dtype: int64
period     4877
catl       4877
catm       4877
age        4877
gender     4877
sido       4877
sigungu    4877
cgi        4877
dtype: int64
period     4892
catl       4892
catm       4892
age        4892
gender     4892
sido       4892
sigungu    4892
cgi        4892
dtype: int64

In [44]:
sehwa_index = index.loc[index["sigungu"].str.contains("은평구|서대문구|마포구|종로구|용산구")].copy()
sehwa_index

        period     catl    catm  age gender sido sigungu         cgi
4       201901  건강/의료용품  건강관리용품   20      F   서울     마포구  145.147595
6       201901  건강/의료용품  건강관리용품   20      F   서울     용산구   14.137181
13      201901  건강/의료용품  건강관리용품   20      M   서울     마포구  105.951146
14      201901  건강/의료용품  건강관리용품   20      M   서울    서대문구   93.004778
16      201901  건강/의료용품  건강관리용품   20      M   서울     종로구   85.537946
...        ...      ...     ...  ...    ...  ...     ...         ...
127498  202005      화장품    뷰티소품  all      M   서울     은평구   76.752918
127504  202005      화장품    뷰티소품  all    all   서울     용산구   45.003538
127505  202005      화장품    뷰티소품  all    all   서울     은평구   62.254066
127519  202005      화장품     화장품  all      M   서울     종로구   38.739734
127524  202005      화장품     화장품  all    all   서울     용산구   45.569377

[24451 rows x 8 columns]

In [45]:
sehwa_index.to_csv("sehwa_index", mode = 'w')

## 서북권, 도심권 데이터만 살펴보기

In [5]:
delivery = pd.read_csv("sehwa_delivery.csv")
delivery

,Unnamed: 0,SERIAL_NUMBER,PROCESS_DT,DLVR_RQESTER_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_CMPNY_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_SIDO,...,DLVR_MAN_ID,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_CN,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
0,2,4577988,2020-01-01,C000129,1,C000129,S0025740,치킨,1138010400,서울특별시,...,D0001536,3300,300,23000,3,승인:,2020-01-01 00:01:14,2020-01-01 00:01:47,2020-01-01 00:18:47,NaN
1,133,4578143,2020-01-01,C000129,1,C000129,S0003051,치킨,1138010400,서울특별시,...,D0001536,3200,200,22000,1,승인:신한카드,2020-01-01 00:41:54,2020-01-01 00:42:46,2020-01-01 01:00:26,NaN
2,169,4578187,2020-01-01,C000129,1,C000129,S0033402,회,1138010400,서울특별시,...,D0001791,3300,300,40000,1,승인:KB국민카드,2020-01-01 00:38:41,2020-01-01 00:39:08,2020-01-01 00:55:52,NaN
3,177,4578195,2020-01-01,C000129,1,C000129,S0035128,회,1138010400,서울특별시,...,D0005383,3300,300,26000,1,승인:비씨카드사,2020-01-01 00:31:52,2020-01-01 00:33:59,2020-01-01 00:48:42,NaN
4,183,4578201,2020-01-01,C000129,1,C000129,S0033402,회,1138010400,서울특별시,...,D0002571,3300,300,25000,1,승인:신한카드,2020-01-01 00:59:32,2020-01-01 00:59:49,2020-01-01 01:08:05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57899,5157761,10672047,2020-06-21,C000129,1,C000129,S0026228,족발/보쌈,1138010500,서울특별시,...,D0005383,3850,400,31000,1,승인:신한카드,2020-06-21 23:18:57,2020-06-21 23:19:07,2020-06-21 23:29:11,NaN
57900,5157825,10672121,2020-06-21,C000129,1,C000129,S0041529,돈까스/일식,1138010400,서울특별시,...,D0009759,3500,400,27000,1,승인:비씨카드사,2020-06-21 23:50:00,2020-06-21 23:50:09,2020-06-22 00:09:01,NaN
57901,5157891,10672197,2020-06-21,C000129,1,C000129,S0033402,회,1138010400,서울특별시,...,D0005383,3700,400,25000,2,NaN,2020-06-21 23:54:30,2020-06-21 23:54:40,2020-06-22 00:05:33,NaN
57902,5158233,10672586,2020-06-21,C000129,1,C000129,S0033402,회,1138010400,서울특별시,...,D0005383,3800,400,36000,2,NaN,2020-06-21 23:05:19,2020-06-21 23:05:26,2020-06-21 23:26:05,NaN
57903,5158277,10672639,2020-06-21,C000129,1,C000129,S0035127,회,1138010400,서울특별시,...,D0008283,3500,400,28000,2,NaN,2020-06-21 23:37:12,2020-06-21 23:37:22,2020-06-21 23:46:17,NaN

In [6]:
index = pd.read_csv("sehwa_index.csv")
index

,Unnamed: 0,period,catl,catm,age,gender,sido,sigungu,cgi
0,4,201901,건강/의료용품,건강관리용품,20,F,서울,마포구,145.147595
1,6,201901,건강/의료용품,건강관리용품,20,F,서울,용산구,14.137181
2,13,201901,건강/의료용품,건강관리용품,20,M,서울,마포구,105.951146
3,14,201901,건강/의료용품,건강관리용품,20,M,서울,서대문구,93.004778
4,16,201901,건강/의료용품,건강관리용품,20,M,서울,종로구,85.537946
...,...,...,...,...,...,...,...,...,...
24446,127498,202005,화장품,뷰티소품,all,M,서울,은평구,76.752918
24447,127504,202005,화장품,뷰티소품,all,all,서울,용산구,45.003538
24448,127505,202005,화장품,뷰티소품,all,all,서울,은평구,62.254066
24449,127519,202005,화장품,화장품,all,M,서울,종로구,38.739734
24450,127524,202005,화장품,화장품,all,all,서울,용산구,45.569377

In [7]:
index.catl.unique()

array(['건강/의료용품', '식품', '일용품', '화장품'], dtype=object)

In [8]:
index.catm.unique()

array(['건강관리용품', '가공식품', '기호식품', '담배', '빙과류', '빵류', '신선식품', '유제품류', '음료',
       '제과류', '주류', '생활용품', '애완동물용품', '바디/헤어용품', '뷰티소품', '화장품'],
      dtype=object)

In [9]:
index.gender.unique()

array(['F', 'M', 'all'], dtype=object)

In [11]:
index.gender.unique

AttributeError: 'function' object has no attribute 'count'